/* ResetPassword.css */
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.reset-image-container img {
  max-width: 100%;
  height: auto;
}

.reset-form-container {
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
}

.reset-center-content {
  text-align: center;
  margin-bottom: 20px;
}

.reset-google-button {
  background-color: #ffffff;
  color: #000000;
  font-weight: bolder;
  border: 1px solid #858D9D;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset-button {
  background-color: #1890ff;
  color: #fff;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset-button-text {
  text-align: center;
}

.reset-google-button:hover {
  background-color: #40a9ff;
}

.reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.reset-form-item {
  margin-bottom: 5px;
  border: 1px solid #858D9D;
  width: 100%;
}

/* Styles for the divider */
.reset-divider {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.reset-divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.reset-divider-text {
  margin: 0 16px;
  color: #ccc;
  font-weight: bold;
}

.reset-image-col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Style the logo container */
.reset-logo-container {
  text-align: center;
  margin-top: 20px;
}

/* Added class for checkbox container */
.reset-checkbox-item {
  display: flex;
}
