/* Register.css */

/* Updated class names to match the component structure */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.register-image-container img {
  max-width: 100%;
  height: auto;
}

.register-form-container {
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
}

.register-center-content {
  text-align: center;
  margin-bottom: 20px;
}

.register-google-button {
  background-color: #ffffff;
  color: #000000;
  font-weight: bolder;
  border: 1px solid #858D9D;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Updated styles for the button content */
.register-button-content {
  display: flex;
  align-items: center;
}

.register-button {
  background-color: #1890ff;
  color: #fff;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.register-button-text {
  text-align: center;
}

.register-google-button:hover {
  background-color: #40a9ff;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.register-form-item-small {
  margin-bottom: 10px; /* Increase spacing to 32px between form items */
  width: 100%;
}

/* Styles for the divider */
.register-divider {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.register-divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.register-divider-text {
  margin: 0 16px;
  color: #ccc;
  font-weight: bold;
}

.register-image-col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Style the logo container */
.register-logo-container {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

/* Added class for checkbox container */
.register-checkbox-item {
  display: flex;
}
